<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @publisher.user_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @publisher.phone %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @publisher.birthday %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
