<%= simple_form_for(@product) do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="col col-md-5">
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :file, as: :file %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <%= link_to 'Voltar' , products_path, class: 'btn btn-primary' %>
        <%= f.button :submit %>
      </div>
    </div>
<% end %>
