<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :type %>
    <%= f.input :description %>
    <%= f.input :views %>
    <%= f.input :published %>
    <%= f.input :published_date %>
    <%= f.input :publisher_id %>
    <%= f.input :category_id %>
    <%= f.input :license_id %>
    <%= f.input :time_dutation %>
    <%= f.input :group_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
